.description {
  display: flex;
  flex: 5;
}

.description__content{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 0px 0;
}

.description__panel {
  padding: 10px 50px 30px 50px;
}

.description__panel:nth-child(even) {
  background-color: #F2F4F4;
}

.description__paragraph {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: block;
}

.description__card {
  display: flex;
  margin-top: 25px;
}

.description__card__icons {
  padding-right: 8px;
}

.description__card__content p{
  margin: 0;
}

.description__icon {
  background-color: #EAEDED;
  width: 20px;
  height: 20px;
  display: block;
}

.description__dates {
  color: #3498DB !important;
}

.description__title-profile {
  color: #34495E;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.description__titles-md {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.description__titles-sm {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.description__bar {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  background-color: #D2B4DE;
  margin: 0;
  margin-top: 8px;
}

.description__bar__title {
  color: black;
}

.description__bar__title, .description__bar__progress {
  padding: 3px 3px 3px 12px;
}

.description__bar__progress {
  color: black;
  background-color: white;
}

.progress__25 {
  width: 25%;
}

.progress__50 {
  width: 50%;
}